body {
			margin: 0;
			padding: 0;
			background: #3498db;
		}
		
		/*BANNER*/
		.banner {
			position: relative;
			top: 20px;
			text-align: center;
			color:white;
			font-family: Helvetica;
			font-size: 60px;
			padding: 0;
			margin: 0;
		}
		/*BANNER END*/


			

		
		  .modal-h1 {
		  	z-index: 800;
		  }


		 
