		body {
			margin: 0;
			padding: 0rem;
			background: #3498db;
			position: relative;

		}
		
		/*BANNER*/
		.banner {
			text-align: center;
			color:white;
			font-family: Helvetica;
			font-size: 60px;
			padding: 0;
			margin: 0;
		}
		/*BANNER END*/


			

		
		  .modal-h1 {
		  	z-index: 800;
		  }

			
			textarea {
				width: 265px;
				height: 460px;
				resize:none;
				font-family: Helvetica;
				font-size: 24px;
				font-weight: bold;
				background-color: beige;
				outline: none;
			}


			.calendar {
				width:270px;
				height: 443px;
				border: none;
			}


			.modal-5 {
				height: 460px;
			}	


			.footer {
				
				position: absolute;

				right: 0;
				bottom: : 0;
				left: 0;
				padding: 10px;
				background-color: black;
				text-align: center;
				color: white;
				font-family: Helvetica;
				
			}

			
			.content {
				/*background-color: red;*/
				height: 750px;
			}


