body {
			margin: 0;
			padding: 0;
			background: #3498db;
		}
		
		/*BANNER*/
		.banner {
			position: relative;
			top: 20px;
			text-align: center;
			color:white;
			font-family: Helvetica;
			font-size: 60px;
			padding: 0;
			margin: 0;
		}
		/*BANNER END*/


			

		
		  .modal-h1 {
		  	z-index: 800;
		  }

			
			textarea {
				width: 265px;
				height: 460px;
				resize:none;
				font-family: Helvetica;
				font-size: 24px;
				font-weight: bold;
				background-color: beige;
				outline: none;
			}


			.calendar {
				width:270px;
				height: 443px;
				border: none;
			}


			.modal-5 {
				height: 460px;
			}