.modal {
        		width: 270px;
        		height: 443px;
        		position: relative;
        		bottom: -74px;
                margin: 0 auto; 
        		background-color: white;
        		z-index: 800;

        	} 


                .modal-19 {
                        width: 270px;
                        height: 470px;
                        position: relative;
                        bottom: -74px;
                         margin: 0 auto; 
                        background-color: black;
                        z-index: 800;

                } 

                .modal-19 div {
                        position: relative;
                        top: 90px;

                } 

                .clock {
                        position: relative;
                        top: 50px;
                }









                /*MODAL AND WRAPPER*/


				.modal-wrapper-1 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;
        		left: 0;
        		display: none;
        		z-index: 800;






				}
				.modal-wrapper-2 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;





				}
				.modal-wrapper-3 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;





				}
				.modal-wrapper-4 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;





				}
				.modal-wrapper-5 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;





				}
				.modal-wrapper-6 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;





				}
				.modal-wrapper-7 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;





				}
				.modal-wrapper-8 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;





				}
				.modal-wrapper-9 {


				position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;


				}



				.modal-wrapper-10 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-11 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-12 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-13 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-14 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-15 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-16 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-17 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-18 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-19 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}


				.modal-wrapper-20 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-21 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-22 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-23 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-24 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-25 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-26 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-27 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-28 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-29 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
				.modal-wrapper-30 {
					position: relative;
        		width: 100%;
        		height: 100%;
        		padding:0;
        		margin: 0;
        		top: -544px;;
        		left: 0;
        		display: none;
        		z-index: 800;
				}
			